.social {
  display: flex;
  flex-direction: column;
  width: 210px;
}

.title {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  font-style: italic;
  margin-top: 0;
}

.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  height: 25px;
  margin: 0 5px;
  transition: box-shadow 0.2s linear;
}

.link:hover,
.link:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.social svg {
  width: 25px;
  height: 25px;
}
