.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.enter {
  composes: sidebar;
  background: rgba(0, 0, 0, 0);
}

.enterDone {
  composes: sidebar;
  background: rgba(0, 0, 0, 0.4);
  transition: background 300ms;
}

.exit {
  composes: sidebar;
  background: rgba(0, 0, 0, 0);
  transition: background 300ms;
}

.container {
  position: relative;
  width: 200px;
  min-height: 100vh;
  background-color: #717171;
  padding: 40px 25px;
}

.enter .container {
  left: -200px;
}

.enterDone .container {
  left: 0;
  transition: left 300ms;
}

.exit .container {
  left: -200px;
  transition: left 300ms;
}

.burger {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 38px;
  list-style: none;
  margin: 0;
  padding: 16px 10px;
  cursor: pointer;
}

.icon {
  background-color: #fff;
  height: 3px;
}

.icon:nth-child(1) {
  transform: translate(0, 0) rotate(45deg);
}

.icon:nth-child(2) {
  transform: translate(0, -3px) rotate(-45deg);
}
